<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+"
      crossorigin="anonymous">
    <title>Forms</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Forms in Django</h1>
        <h2>Go to /form page to go to form</h2>
      </div>
    </div>
  </body>
</html>